.service{
  &__progress{
    &__list{
      display: -webkit-flex;
      display: flex;
      list-style: none;
      li{
        + li{
          padding-left: 30px;
        }
      }      
    }
  }
}